<!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  <!-- DataTable starts -->
  <div class="table-responsive">

    <div class="col-sm-612 col-12" style="float: left; text-align: left;">
      <fieldset class="form-group">
        <p > مبلغ کل:

          <strong> 1995822255 </strong>
        </p>
      </fieldset>
    </div>

    <table class="table data-list-view">
      <thead>
        <tr>
          <th></th>
          <th>ردیف</th>
          <th> نام کاربری </th>
          <th> شماره تماس </th>
          <th> واریزی </th>
          <th> برداشت </th>
          <th> تاریخ </th>
          <th> زبان</th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td></td>
          <td class="product-category"> 1</td>
          <td class="product-name">Altec Lansing</td>
          <td class="product-category"> 090074774587 </td>
          <td class="product-category"> 95,000,584 </td>
          <td class="product-category"> 45,000,584 </td>
          <td class="product-category"> 99/02/85 </td>
          <td class="product-category">فارسی </td>
          <td class="product-action">
            <div class="col-lg-3 col-md-3 mb-1">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm">مشاهده</button>
                <button type="button" class="btn btn-danger btn-sm">حذف</button>
                @* <button type="button" class="btn btn-success  btn-sm">ویرایش</button> *@
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td class="product-category"> 2</td>
          <td class="product-name">Altec Lansing</td>
          <td class="product-category"> 090074774587 </td>
          <td class="product-category"> 95,000,584 </td>
          <td class="product-category"> 45,000,584 </td>
          <td class="product-category"> 99/02/85 </td>

          <td class="product-category">انگلیسی </td>
          <td class="product-action">
            <div class="col-lg-3 col-md-3 mb-1">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm">مشاهده</button>
                <button type="button" class="btn btn-danger btn-sm">حذف</button>
                @* <button type="button" class="btn btn-success  btn-sm">ویرایش</button> *@
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->

  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->