<section id="statistics-card">
  <div class="row">
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
              <div class="avatar-content">
                <i class="feather icon-eye text-primary font-medium-5"></i>
              </div>
            </div>
            <h4 class="text-bold-700">نظرات کاربران</h4>
            <a href="/admin/comment/index" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
              <div class="avatar-content">
                <i class="feather icon-message-square text-warning font-medium-5"></i>
              </div>
            </div>
            <h4 class="text-bold-700">پیام ها</h4>
            <a href="/admin/msg/index" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-danger p-50 m-0 mb-1">
              <div class="avatar-content">
                <i class="feather icon-shopping-bag text-danger font-medium-5"></i>
              </div>
            </div>
            <h4 class="text-bold-700">محصولات</h4>
            <a href="/admin/product/list" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
              <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
                <div class="avatar-content">
                    <i class="feather icon-users text-primary font-medium-5"></i>
                </div>
              </div>
              
               <h4 class="text-bold-700">کاربران</h4>
            <a href="/admin/users/index" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-success p-50 m-0 mb-1">
              <div class="avatar-content">
                <i class="feather icon-award text-success font-medium-5"></i>
              </div>
            </div>
            <h4 class="text-bold-700">اصالت کالا</h4>
            <a href="/admin/Originality/index" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
      <div class="card text-center">
        <div class="card-content">
          <div class="card-body">
            <div class="avatar bg-rgba-danger p-50 m-0 mb-1">
              <div class="avatar-content">
                <i class="feather icon-activity text-danger font-medium-5"></i>
              </div>
            </div>
             <h4 class="text-bold-700">دسته بندی ها</h4>
            <a href="/admin/category/index" class="mb-0 line-scale btn btn-outline-primary">مشاهده</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex align-items-start pb-0">
                  <div>
                      <h4 class="text-bold-700 mb-0"><a href="/admin/blog/list" class="mb-0 line-scale btn btn-outline-info">وبلاگ</a></h4>
                      
                  </div>
                  <div class="avatar bg-rgba-primary p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-monitor text-primary font-medium-5"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex align-items-start pb-0">
                  <div>
                  <h4 class="text-bold-700 mb-0"><a href="/admin/experts/list" class="mb-0 line-scale btn btn-outline-info">کارشناسان</a></h4>

                  </div>
                  <div class="avatar bg-rgba-success p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-user-check text-success font-medium-5"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex align-items-start pb-0">
                  <div>
                                      <h4 class="text-bold-700 mb-0"><a href="/admin/agency/list" class="mb-0 line-scale btn btn-outline-info">نمایندگی ها</a></h4>

                  </div>
                  <div class="avatar bg-rgba-danger p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-credit-card text-success font-medium-5"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex align-items-start pb-0">
                  <div>
                        <h4 class="text-bold-700 mb-0"><a href="/admin/slider/list" class="mb-0 line-scale btn btn-outline-info">اسلایدرها </a></h4>
                 </div>
                  <div class="avatar bg-rgba-warning p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-package text-warning font-medium-5"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                  <div class="avatar bg-rgba-primary p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-users text-primary font-medium-5"></i>
                      </div>
                  </div>
                  <h2 class="text-bold-700 mt-1">92.6k</h2>
                  <p class="mb-0">تعداد کل کاربران</p>
              </div>
              <div class="card-content" style="position: relative;">
                  <div id="line-area-chart-1" style="min-height: 100px;"><div id="apexchartsjslqes0m" class="apexcharts-canvas apexchartsjslqes0m light" style="width: 359px; height: 100px;"><svg id="SvgjsSvg1263" width="359" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1265" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1264"><clipPath id="gridRectMaskjslqes0m"><rect id="SvgjsRect1269" width="361.5" height="102.5" x="-1.25" y="-1.25" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMaskjslqes0m"><rect id="SvgjsRect1270" width="361" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient1276" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1277" stop-opacity="0.7" stop-color="rgba(115,103,240,0.7)" offset="0"></stop><stop id="SvgjsStop1278" stop-opacity="0.5" stop-color="rgba(241,240,254,0.5)" offset="0.8"></stop><stop id="SvgjsStop1279" stop-opacity="0.5" stop-color="rgba(241,240,254,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1268" x1="238.83333333333331" y1="0" x2="238.83333333333331" y2="100" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="238.83333333333331" y="0" width="1" height="100" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1282" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1283" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1286" class="apexcharts-grid"><line id="SvgjsLine1288" x1="0" y1="100" x2="359" y2="100" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1287" x1="0" y1="1" x2="0" y2="100" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1272" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1273" class="apexcharts-series" seriesName="Subscribers" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1280" d="M 0 100L 0 77.77777777777777C 20.941666666666663 77.77777777777777 38.891666666666666 51.111111111111114 59.83333333333333 51.111111111111114C 80.77499999999999 51.111111111111114 98.725 60 119.66666666666666 60C 140.60833333333332 60 158.55833333333334 24.444444444444443 179.5 24.444444444444443C 200.44166666666666 24.444444444444443 218.39166666666665 55.55555555555556 239.33333333333331 55.55555555555556C 260.275 55.55555555555556 278.22499999999997 6.666666666666657 299.16666666666663 6.666666666666657C 320.1083333333333 6.666666666666657 338.05833333333334 17.777777777777786 359 17.777777777777786C 359 17.777777777777786 359 17.777777777777786 359 100M 359 17.777777777777786z" fill="url(#SvgjsLinearGradient1276)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskjslqes0m)" pathTo="M 0 100L 0 77.77777777777777C 20.941666666666663 77.77777777777777 38.891666666666666 51.111111111111114 59.83333333333333 51.111111111111114C 80.77499999999999 51.111111111111114 98.725 60 119.66666666666666 60C 140.60833333333332 60 158.55833333333334 24.444444444444443 179.5 24.444444444444443C 200.44166666666666 24.444444444444443 218.39166666666665 55.55555555555556 239.33333333333331 55.55555555555556C 260.275 55.55555555555556 278.22499999999997 6.666666666666657 299.16666666666663 6.666666666666657C 320.1083333333333 6.666666666666657 338.05833333333334 17.777777777777786 359 17.777777777777786C 359 17.777777777777786 359 17.777777777777786 359 100M 359 17.777777777777786z" pathFrom="M -1 140L -1 140L 59.83333333333333 140L 119.66666666666666 140L 179.5 140L 239.33333333333331 140L 299.16666666666663 140L 359 140"></path><path id="SvgjsPath1281" d="M 0 77.77777777777777C 20.941666666666663 77.77777777777777 38.891666666666666 51.111111111111114 59.83333333333333 51.111111111111114C 80.77499999999999 51.111111111111114 98.725 60 119.66666666666666 60C 140.60833333333332 60 158.55833333333334 24.444444444444443 179.5 24.444444444444443C 200.44166666666666 24.444444444444443 218.39166666666665 55.55555555555556 239.33333333333331 55.55555555555556C 260.275 55.55555555555556 278.22499999999997 6.666666666666657 299.16666666666663 6.666666666666657C 320.1083333333333 6.666666666666657 338.05833333333334 17.777777777777786 359 17.777777777777786" fill="none" fill-opacity="1" stroke="#7367f0" stroke-opacity="1" stroke-linecap="butt" stroke-width="2.5" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskjslqes0m)" pathTo="M 0 77.77777777777777C 20.941666666666663 77.77777777777777 38.891666666666666 51.111111111111114 59.83333333333333 51.111111111111114C 80.77499999999999 51.111111111111114 98.725 60 119.66666666666666 60C 140.60833333333332 60 158.55833333333334 24.444444444444443 179.5 24.444444444444443C 200.44166666666666 24.444444444444443 218.39166666666665 55.55555555555556 239.33333333333331 55.55555555555556C 260.275 55.55555555555556 278.22499999999997 6.666666666666657 299.16666666666663 6.666666666666657C 320.1083333333333 6.666666666666657 338.05833333333334 17.777777777777786 359 17.777777777777786" pathFrom="M -1 140L -1 140L 59.83333333333333 140L 119.66666666666666 140L 179.5 140L 239.33333333333331 140L 299.16666666666663 140L 359 140"></path><g id="SvgjsG1274" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1294" r="0" cx="239.33333333333331" cy="55.55555555555556" class="apexcharts-marker wlz2rqrmsg no-pointer-events" stroke="#ffffff" fill="#7367f0" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG1275" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine1289" x1="0" y1="0" x2="359" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1290" x1="0" y1="0" x2="359" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1291" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1292" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1293" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1267" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG1284" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG1285" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 96.6094px; top: 58px;"><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(115, 103, 240);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Subscribers: </span><span class="apexcharts-tooltip-text-value">38</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
              <div class="resize-triggers"><div class="expand-trigger"><div style="width: 360px; height: 101px;"></div></div><div class="contract-trigger"></div></div></div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                  <div class="avatar bg-rgba-primary p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-message-square text-warning font-medium-5"></i>
                      </div>
                  </div>
                  <h2 class="text-bold-700 mt-1">97.5k</h2>
                  <p class="mb-0">پیام های جدید</p>
              </div>
              <div class="card-content" style="position: relative;">
                  <div id="line-area-chart-2" style="min-height: 100px;"><div id="apexchartshgnwvvs3" class="apexcharts-canvas apexchartshgnwvvs3 light" style="width: 359px; height: 100px;"><svg id="SvgjsSvg1298" width="359" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1300" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1299"><clipPath id="gridRectMaskhgnwvvs3"><rect id="SvgjsRect1304" width="361.5" height="102.5" x="-1.25" y="-1.25" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMaskhgnwvvs3"><rect id="SvgjsRect1305" width="361" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient1311" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1312" stop-opacity="0.7" stop-color="rgba(40,199,111,0.7)" offset="0"></stop><stop id="SvgjsStop1313" stop-opacity="0.5" stop-color="rgba(234,249,241,0.5)" offset="0.8"></stop><stop id="SvgjsStop1314" stop-opacity="0.5" stop-color="rgba(234,249,241,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1303" x1="0" y1="0" x2="0" y2="100" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="100" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1317" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1318" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1321" class="apexcharts-grid"><line id="SvgjsLine1323" x1="0" y1="100" x2="359" y2="100" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1322" x1="0" y1="1" x2="0" y2="100" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1307" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1308" class="apexcharts-series" seriesName="Revenue" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1315" d="M 0 100L 0 60C 20.941666666666663 60 38.891666666666666 90 59.83333333333333 90C 80.77499999999999 90 98.725 40 119.66666666666666 40C 140.60833333333332 40 158.55833333333334 80 179.5 80C 200.44166666666666 80 218.39166666666665 60 239.33333333333331 60C 260.275 60 278.22499999999997 80 299.16666666666663 80C 320.1083333333333 80 338.05833333333334 20 359 20C 359 20 359 20 359 100M 359 20z" fill="url(#SvgjsLinearGradient1311)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskhgnwvvs3)" pathTo="M 0 100L 0 60C 20.941666666666663 60 38.891666666666666 90 59.83333333333333 90C 80.77499999999999 90 98.725 40 119.66666666666666 40C 140.60833333333332 40 158.55833333333334 80 179.5 80C 200.44166666666666 80 218.39166666666665 60 239.33333333333331 60C 260.275 60 278.22499999999997 80 299.16666666666663 80C 320.1083333333333 80 338.05833333333334 20 359 20C 359 20 359 20 359 100M 359 20z" pathFrom="M -1 200L -1 200L 59.83333333333333 200L 119.66666666666666 200L 179.5 200L 239.33333333333331 200L 299.16666666666663 200L 359 200"></path><path id="SvgjsPath1316" d="M 0 60C 20.941666666666663 60 38.891666666666666 90 59.83333333333333 90C 80.77499999999999 90 98.725 40 119.66666666666666 40C 140.60833333333332 40 158.55833333333334 80 179.5 80C 200.44166666666666 80 218.39166666666665 60 239.33333333333331 60C 260.275 60 278.22499999999997 80 299.16666666666663 80C 320.1083333333333 80 338.05833333333334 20 359 20" fill="none" fill-opacity="1" stroke="#28c76f" stroke-opacity="1" stroke-linecap="butt" stroke-width="2.5" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskhgnwvvs3)" pathTo="M 0 60C 20.941666666666663 60 38.891666666666666 90 59.83333333333333 90C 80.77499999999999 90 98.725 40 119.66666666666666 40C 140.60833333333332 40 158.55833333333334 80 179.5 80C 200.44166666666666 80 218.39166666666665 60 239.33333333333331 60C 260.275 60 278.22499999999997 80 299.16666666666663 80C 320.1083333333333 80 338.05833333333334 20 359 20" pathFrom="M -1 200L -1 200L 59.83333333333333 200L 119.66666666666666 200L 179.5 200L 239.33333333333331 200L 299.16666666666663 200L 359 200"></path><g id="SvgjsG1309" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1329" r="0" cx="0" cy="0" class="apexcharts-marker wugzt05 no-pointer-events" stroke="#ffffff" fill="#28c76f" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG1310" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine1324" x1="0" y1="0" x2="359" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1325" x1="0" y1="0" x2="359" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1326" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1327" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1328" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1302" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG1319" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG1320" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light"><div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker" style="background-color: rgb(40, 199, 111);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
              <div class="resize-triggers"><div class="expand-trigger"><div style="width: 360px; height: 101px;"></div></div><div class="contract-trigger"></div></div></div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                  <div class="avatar bg-rgba-danger p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-shopping-cart text-danger font-medium-5"></i>
                      </div>
                  </div>
                  <h2 class="text-bold-700 mt-1">36%</h2>
                  <p class="mb-0">سفارشات جدید</p>
              </div>
              <div class="card-content" style="position: relative;">
                  <div id="line-area-chart-3" style="min-height: 100px;"><div id="apexchartshrohidcu" class="apexcharts-canvas apexchartshrohidcu light" style="width: 359px; height: 100px;"><svg id="SvgjsSvg1333" width="359" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1335" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1334"><clipPath id="gridRectMaskhrohidcu"><rect id="SvgjsRect1339" width="361.5" height="102.5" x="-1.25" y="-1.25" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMaskhrohidcu"><rect id="SvgjsRect1340" width="361" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient1346" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1347" stop-opacity="0.7" stop-color="rgba(234,84,85,0.7)" offset="0"></stop><stop id="SvgjsStop1348" stop-opacity="0.5" stop-color="rgba(253,238,238,0.5)" offset="0.8"></stop><stop id="SvgjsStop1349" stop-opacity="0.5" stop-color="rgba(253,238,238,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1338" x1="71.3" y1="0" x2="71.3" y2="100" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="71.3" y="0" width="1" height="100" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1352" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1353" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1356" class="apexcharts-grid"><line id="SvgjsLine1358" x1="0" y1="100" x2="359" y2="100" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1357" x1="0" y1="1" x2="0" y2="100" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1342" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1343" class="apexcharts-series" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1350" d="M 0 100L 0 53.33333333333333C 25.13 53.33333333333333 46.67 20 71.8 20C 96.92999999999999 20 118.47 73.33333333333333 143.6 73.33333333333333C 168.73 73.33333333333333 190.27 40 215.4 40C 240.53 40 262.07 100 287.2 100C 312.33 100 333.87 13.333333333333329 359 13.333333333333329C 359 13.333333333333329 359 13.333333333333329 359 100M 359 13.333333333333329z" fill="url(#SvgjsLinearGradient1346)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskhrohidcu)" pathTo="M 0 100L 0 53.33333333333333C 25.13 53.33333333333333 46.67 20 71.8 20C 96.92999999999999 20 118.47 73.33333333333333 143.6 73.33333333333333C 168.73 73.33333333333333 190.27 40 215.4 40C 240.53 40 262.07 100 287.2 100C 312.33 100 333.87 13.333333333333329 359 13.333333333333329C 359 13.333333333333329 359 13.333333333333329 359 100M 359 13.333333333333329z" pathFrom="M -1 120L -1 120L 71.8 120L 143.6 120L 215.4 120L 287.2 120L 359 120"></path><path id="SvgjsPath1351" d="M 0 53.33333333333333C 25.13 53.33333333333333 46.67 20 71.8 20C 96.92999999999999 20 118.47 73.33333333333333 143.6 73.33333333333333C 168.73 73.33333333333333 190.27 40 215.4 40C 240.53 40 262.07 100 287.2 100C 312.33 100 333.87 13.333333333333329 359 13.333333333333329" fill="none" fill-opacity="1" stroke="#ea5455" stroke-opacity="1" stroke-linecap="butt" stroke-width="2.5" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskhrohidcu)" pathTo="M 0 53.33333333333333C 25.13 53.33333333333333 46.67 20 71.8 20C 96.92999999999999 20 118.47 73.33333333333333 143.6 73.33333333333333C 168.73 73.33333333333333 190.27 40 215.4 40C 240.53 40 262.07 100 287.2 100C 312.33 100 333.87 13.333333333333329 359 13.333333333333329" pathFrom="M -1 120L -1 120L 71.8 120L 143.6 120L 215.4 120L 287.2 120L 359 120"></path><g id="SvgjsG1344" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1364" r="0" cx="71.8" cy="20" class="apexcharts-marker wuujd2nab no-pointer-events" stroke="#ffffff" fill="#ea5455" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG1345" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine1359" x1="0" y1="0" x2="359" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1360" x1="0" y1="0" x2="359" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1361" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1362" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1363" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1337" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG1354" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG1355" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 82px; top: 23px;"><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(234, 84, 85);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Sales: </span><span class="apexcharts-tooltip-text-value">15</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
              <div class="resize-triggers"><div class="expand-trigger"><div style="width: 360px; height: 101px;"></div></div><div class="contract-trigger"></div></div></div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
              <div class="card-header d-flex flex-column align-items-start pb-0">
                  <div class="avatar bg-rgba-warning p-50 m-0">
                      <div class="avatar-content">
                          <i class="feather icon-package text-warning font-medium-5"></i>
                      </div>
                  </div>
                  <h2 class="text-bold-700 mt-1">97.5K</h2>
                  <p class="mb-0">نظرات جدید</p>
              </div>
              <div class="card-content" style="position: relative;">
                  <div id="line-area-chart-4" style="min-height: 100px;"><div id="apexchartsxgx2mr4c" class="apexcharts-canvas apexchartsxgx2mr4c light" style="width: 359px; height: 100px;"><svg id="SvgjsSvg1368" width="359" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1370" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1369"><clipPath id="gridRectMaskxgx2mr4c"><rect id="SvgjsRect1374" width="361.5" height="102.5" x="-1.25" y="-1.25" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMaskxgx2mr4c"><rect id="SvgjsRect1375" width="361" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient1381" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1382" stop-opacity="0.7" stop-color="rgba(255,159,67,0.7)" offset="0"></stop><stop id="SvgjsStop1383" stop-opacity="0.5" stop-color="rgba(255,245,236,0.5)" offset="0.8"></stop><stop id="SvgjsStop1384" stop-opacity="0.5" stop-color="rgba(255,245,236,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1373" x1="358.5" y1="0" x2="358.5" y2="100" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="358.5" y="0" width="1" height="100" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1387" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1388" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1391" class="apexcharts-grid"><line id="SvgjsLine1393" x1="0" y1="100" x2="359" y2="100" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1392" x1="0" y1="1" x2="0" y2="100" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1377" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1378" class="apexcharts-series" seriesName="Orders" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1385" d="M 0 100L 0 60C 20.941666666666663 60 38.891666666666666 10 59.83333333333333 10C 80.77499999999999 10 98.725 80 119.66666666666666 80C 140.60833333333332 80 158.55833333333334 10 179.5 10C 200.44166666666666 10 218.39166666666665 90 239.33333333333331 90C 260.275 90 278.22499999999997 40 299.16666666666663 40C 320.1083333333333 40 338.05833333333334 80 359 80C 359 80 359 80 359 100M 359 80z" fill="url(#SvgjsLinearGradient1381)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskxgx2mr4c)" pathTo="M 0 100L 0 60C 20.941666666666663 60 38.891666666666666 10 59.83333333333333 10C 80.77499999999999 10 98.725 80 119.66666666666666 80C 140.60833333333332 80 158.55833333333334 10 179.5 10C 200.44166666666666 10 218.39166666666665 90 239.33333333333331 90C 260.275 90 278.22499999999997 40 299.16666666666663 40C 320.1083333333333 40 338.05833333333334 80 359 80C 359 80 359 80 359 100M 359 80z" pathFrom="M -1 160L -1 160L 59.83333333333333 160L 119.66666666666666 160L 179.5 160L 239.33333333333331 160L 299.16666666666663 160L 359 160"></path><path id="SvgjsPath1386" d="M 0 60C 20.941666666666663 60 38.891666666666666 10 59.83333333333333 10C 80.77499999999999 10 98.725 80 119.66666666666666 80C 140.60833333333332 80 158.55833333333334 10 179.5 10C 200.44166666666666 10 218.39166666666665 90 239.33333333333331 90C 260.275 90 278.22499999999997 40 299.16666666666663 40C 320.1083333333333 40 338.05833333333334 80 359 80" fill="none" fill-opacity="1" stroke="#ff9f43" stroke-opacity="1" stroke-linecap="butt" stroke-width="2.5" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskxgx2mr4c)" pathTo="M 0 60C 20.941666666666663 60 38.891666666666666 10 59.83333333333333 10C 80.77499999999999 10 98.725 80 119.66666666666666 80C 140.60833333333332 80 158.55833333333334 10 179.5 10C 200.44166666666666 10 218.39166666666665 90 239.33333333333331 90C 260.275 90 278.22499999999997 40 299.16666666666663 40C 320.1083333333333 40 338.05833333333334 80 359 80" pathFrom="M -1 160L -1 160L 59.83333333333333 160L 119.66666666666666 160L 179.5 160L 239.33333333333331 160L 299.16666666666663 160L 359 160"></path><g id="SvgjsG1379" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1399" r="0" cx="359" cy="80" class="apexcharts-marker w9zr6bbbf no-pointer-events" stroke="#ffffff" fill="#ff9f43" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG1380" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine1394" x1="0" y1="0" x2="359" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1395" x1="0" y1="0" x2="359" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1396" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1397" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1398" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1372" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG1389" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG1390" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 249.953px; top: 66px;"><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 159, 67);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Orders: </span><span class="apexcharts-tooltip-text-value">8</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
              <div class="resize-triggers"><div class="expand-trigger"><div style="width: 360px; height: 101px;"></div></div><div class="contract-trigger"></div></div></div>
          </div>
      </div>
  </div>
  
</section>