



<!-- Basic Select2 start -->
<section class="basic-select2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">دراپ داون با قابلیت جستجو</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
            	<div class="col-12 mb-2">
            	</div>
            	<div class="col-sm-6 col-12">
	                <div class="form-group">
						<select class="select2 form-control">
							<option value="square">مربع</option>
	                        <option value="rectangle">مستطیل</option>
	                        <option value="rombo">لوزی</option>
	                        <option value="romboid">لوزی</option>
	                        <option value="trapeze">ذوزنقه</option>
	                        <option value="traible">مثلث</option>
	                        <option value="polygon">چند ضلعی معمولی</option>
						</select>
					</div>
		        </div>
	        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Select2 end -->
