
    <!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  <!-- DataTable starts -->
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
        <tr>
          <th></th>
          <th>نام</th>
          <th>دسته بندی</th>
          <th>مردم</th>
          <th>وضعیت سفارش</th>
          <th>قیمت</th>
          <th>اقدام</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="product-name">اپل واچ سری 4 GPS</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-success">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:97%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">699,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">هدفون Beats</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:83%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-success">
              <div class="chip-body">
                <div class="chip-text">تحویل داده شده</div>
              </div>
            </div>
          </td>
          <td class="product-price">699,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Altec Lansing - بلندگو بلوتوث</td>
          <td class="product-category">صدا</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:57%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-danger">
              <div class="chip-body">
                <div class="chip-text">لغو شد</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Aluratek - گیرنده صوتی بلوتوث</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:65%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">299,990 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Aluratek - فرستنده صوتی بلوتوث</td>
          <td class="product-category">صدا</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-danger">
              <div class="chip-body">
                <div class="chip-text">لغو شد</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">مبانی - پیک تناسب اندام و ردیاب خواب</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:47%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Antec - ترکیب گرمایی الماس نانو</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:55%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-primary">
              <div class="chip-body">
                <div class="chip-text">انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">299,990 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Antec - آداپتور بلوتوث SmartBean</td>
          <td class="product-category">کامپیوتر</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:63%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-danger">
              <div class="chip-body">
                <div class="chip-text">لغو شد</div>
              </div>
            </div>
          </td>
          <td class="product-price">3,999,000 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Beats by Dr. Dre - 3' USB-to-Micro USB Cable</td>
          <td class="product-category">کامپیوتر</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-success">
              <div class="chip-body">
                <div class="chip-text">None</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Beats by Dr. Dre - Bike Mount for Pill Speakers</td>
          <td class="product-category">صدا</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:40%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">None</div>
              </div>
            </div>
          </td>
          <td class="product-price">499,990 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Bose ® - SoundLink ® بلندگو بلوتوث رنگی</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:90%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-primary">
              <div class="chip-body">
                <div class="chip-text">انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,299,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">BRAVEN - بلندگو بلوتوث قابل حمل</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">کریگ - بلندگو بی سیم قابل حمل</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-danger">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:20%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-danger">
              <div class="chip-body">
                <div class="chip-text">لغو شد</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">فناوری قطعی - بلندگو بی سیم</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:75%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-primary">
              <div class="chip-body">
                <div class="chip-text">انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">3,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Fitbit - Charge HR Activity Tracker + Heart Rate (Large)</td>
          <td class="product-category">صدا</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:60%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-primary">
              <div class="chip-body">
                <div class="chip-text">انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,499,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Fitbit - Flex 1" USB Charging Cable</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">149,990 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Fitbit - ردیاب فعالیت</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-danger">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:35%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-danger">
              <div class="chip-body">
                <div class="chip-text">لغو شد</div>
              </div>
            </div>
          </td>
          <td class="product-price">999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Fitbit - Charge Wireless Activity Tracker (Large)</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-primary">
              <div class="chip-body">
                <div class="chip-text">انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,299,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">کریگ - بلندگو </td>
          <td class="product-category">صدا</td>
          <td>
            <div class="progress progress-bar-warning">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:68%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">699,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">براون - بلندگو در فضای باز</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:97%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-success">
              <div class="chip-body">
                <div class="chip-text">None</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Bose® - کیسه سفر بلندگو بلوتوث</td>
          <td class="product-category">کامپیوترها</td>
          <td>
            <div class="progress progress-bar-primary">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:89%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-warning">
              <div class="chip-body">
                <div class="chip-text">در انتظار</div>
              </div>
            </div>
          </td>
          <td class="product-price">449,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="product-name">Altec Lansing - بلندگو بلوتوث Mini H2O</td>
          <td class="product-category">تناسب اندام</td>
          <td>
            <div class="progress progress-bar-success">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:87%"></div>
            </div>
          </td>
          <td>
            <div class="chip chip-success">
              <div class="chip-body">
                <div class="chip-text">None</div>
              </div>
            </div>
          </td>
          <td class="product-price">1,999,900 ريال</td>
          <td class="product-action">
            <span class="action-edit"><i class="feather icon-edit"></i></span>
            <span class="action-delete"><i class="feather icon-trash"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->
  <div class="add-new-data-sidebar">
    <div class="overlay-bg"></div>
    <div class="add-new-data">
      <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
        <div>
          <h4 class="text-uppercase">نمایش داده های لیست</h4>
        </div>
        <div class="hide-data-sidebar">
          <i class="feather icon-x"></i>
        </div>
      </div>
      <div class="data-items pb-3">
        <div class="data-fields px-2 mt-3">
          <div class="row">
            <div class="col-sm-12 data-field-col">
              <label for="data-name">نام</label>
              <input type="text" class="form-control" id="data-name">
            </div>
            <div class="col-sm-12 data-field-col">
              <label for="data-category">  دسته بندی</label>
              <select class="form-control" id="data-category">
                <option>صدا</option>
                <option>کامپیوترها</option>
                <option>تناسب اندام</option>
                <option>لوازم خانگی</option>
              </select>
            </div>
            <div class="col-sm-12 data-field-col">
              <label for="data-status">وضعیت سفارش</label>
              <select class="form-control" id="data-status">
                <option>در انتظار</option>
                <option>لغو شد</option>
                <option>تحویل داده شده</option>
                <option>در انتظار</option>
              </select>
            </div>
            <div class="col-sm-12 data-field-col">
              <label for="data-price">قیمت</label>
              <input type="text" class="form-control" id="data-price">
            </div>
            <div class="col-sm-12 data-field-col data-list-upload">
              <form action="#" class="dropzone dropzone-area" id="dataListUpload">
                <div class="dz-message">بارگذاری تصویر</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
        <div class="add-data-btn">
          <button class="btn btn-primary">داده را اضافه کنید</button>
        </div>
        <div class="cancel-data-btn">
          <button class="btn btn-outline-danger">لغو</button>
        </div>
      </div>
    </div>
  </div>
  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->

        </div>
      </div>
    </div>
    <!-- END: Content-->
