
            <section class="row flexbox-container justify-content-center">
                <div class="col-xl-7 col-md-9 col-11 d-flex justify-content-center px-0">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-6  text-center align-self-center">
                                <img src="~/app-assets/images/pages/forgot-password.png" alt="branding logo">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2 py-1">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">بازیابی رمز عبور</h4>
                                        </div>
                                    </div>
                                    <p class="px-2 mb-0">برای بازیابی رمز عبورتان ایمیلی را که با آن ثبت نام کرده اید را وارد کنید.</p>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form action="index.html">
                                                <div class="form-label-group">
                                                    <input type="email" id="inputEmail" class="form-control" placeholder="ایمیل">
                                                    <label for="inputEmail">ایمیل</label>
                                                </div>
                                            </form>
                                            <div class="float-md-left d-block mb-1">
                                                <a href="/Login/index" class="btn btn-outline-primary btn-block px-75">بازگشت به صفحه ورود</a>
                                            </div>
                                            <div class="float-md-right d-block mb-1">
                                                <a href="#" class="btn btn-primary btn-block px-75">بازیابی رمز عبور</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       